.map::before{
    position: absolute;
    content: "map";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 300px;
    z-index: -20;
    opacity: 0.1;
    color: black;
    filter: blur(4px);

    
    top: 0;
    right: 0;
}

.map{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.map::after{
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(../../assets/images/map_rpg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    opacity: 0.1;
}
