.abilities{
    display: flex;
    flex-direction: column;
    position: relative;
}

.abilities::before{
    position: absolute;
    content: "abilities";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 300px;
    z-index: -20;
    left: 50%;
    opacity: 0.1;
    color: black;
    filter: blur(4px);
    animation: move 20s infinite;
}

.abilities-container-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 40vh;
}

.abilities-container-bottom{
    display: flex;
}

.abilities-container-bottom-left, .abilities-container-bottom-right{
    width: 50vw;
}

.front-end, .others{
    display: flex;
    flex-wrap: wrap;
    /* width: 40%; */
    max-width: 550px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.front-end > .bubble:nth-child(1) {
    margin-left: 2rem;
}
.front-end > .bubble:nth-child(4) {
    margin-left: 8rem;
}
.front-end > .bubble:nth-child(7) {
    margin-left: 14rem;
}

.others > .bubble:nth-child(1) {
    margin-left: 14rem;
}
.others > .bubble:nth-child(4) {
    margin-left: 8rem;
}
.others > .bubble:nth-child(7) {
    margin-left: 2rem;
}

.character-container{
    position: absolute;
    height: 100vh;
    width: 100%;
}

@keyframes move {
    0% {
      left: -25%;
    }
    100% {
      left: 125%;
    }
  }